
<script>
export default {
  async mounted() {
    console.log("sono pronto!");
    var response=await fetch('http://localhost:8000/api/videos');
    var videos=await response.json();

    this.videos=videos;

  },
  // i dati del componente
  data() {
    return {
      videos: [],
    };
  },
};
</script>



<template>
  <div>
    <div class="videosContainer">
        <h1>Elenco dei video</h1>
        <div v-for="video in videos" class="videoItem" :key="video.id">
          <span class="title">{{ video.title }}</span>
          <iframe height="150" :src="video.url" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <span class="desc">{{ video.description }}</span>
          <span class="insertDate">{{ video.insertDate }}</span>
        </div>
    </div>
  </div>
</template>

<style scoped>
  .videosContainer{
    margin:10px;
    display: flex;
    flex-direction: column;
    gap:10px;
  }
  .videoItem{
    display: flex;
    background-color:white;
    box-shadow: 0px 0px 2px 3px rgba(0,0,0,0.1);
    padding:10px;
    border-radius: 4px;
    flex-direction: column;
    gap:5px;
  }
  .videoItem .title{
    font-weight: bold;
    font-size:18px;
  }
  .videoItem .insertDate{
    font-size:14px;
  }
</style>